html {
    font-size:62.5%;
}

body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}


$green: rgb(216, 243, 174);


.background {
    background-image:linear-gradient(
        135deg,
        rgb(185, 135, 197) 80%,
        rgb(224, 182, 221) 100%,
        rgb(209, 183, 207) 89%
) !important;
    height:150vh;
    width:100vw;
}

